<%- include('../partials/header') %>
<%- include('../partials/navbar') %>

<h1>Orders</h1>
<ul>
  <% orders.forEach(order => { %>
    <li>
      Order ID: <%= order._id %><br>
      Customer: <%= order.customer %><br>
      Total Amount: <%= order.totalAmount %>
    </li>
  <% }) %>
</ul>

<%- include('../partials/footer') %>
